/* variables */
:root{
    --main-color:#f6bbcf;
    --second-color:#fbf4b8;
    --backgroud-color:#f2f2f2;
    --text-color:#6c757d;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    color:var(--text-color) ;
}
h1{
    display: grid;
    justify-content: center;
    font-size: 30px;
    
}
#appTabla{
    height: 420px;
    width: 260px;
    display: grid;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 5px;
}

#appTabla form{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: var(--main-color);
}
#appTabla input[type = textfield]{
    width: 90%;
    height: 25%;
    cursor: default;
    background-color: var(--second-color);
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}
#appTabla input[type=button],input[type=reset] {
    width: 20%;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: var(--text-color);
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}
#appTabla .amarillo{
    background-color:var(--second-color);
}
#appTabla .gris{
    background-color: #3a3e41;
    color:white;
}
h4{
    display: grid;
    justify-content: center;
    font-size: 20px;
}